@use "../../../sass/variable" as v;

.error__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    color: v.$light-orange;
    text-align: center;
    line-height: 1.5;
  }
}
